<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="all">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://bibtex-js.googlecode.com/svn/trunk/src/bibtex_js.js"></script>

  <style>
    {{{css}}}
  </style>
</head>
<body>


  <!-- header -->
  <div class="container-fluid">
    {{#resume.basics}}
    <div class="row">
      <div class="col-xs-6">
        <h1 class="name"> {{name}}</h1>
        <h3 class="title">{{label}}</h3>
      </div>
      <div class="col-xs-6 contact-info">
        <ul class="pull-right">
          <li>{{email}}</li>
          <li>{{phone}}</li>
          <li>{{website}}</li>
          <li>
            {{#each profiles}}
            <i class="fa fa-{{toLowerCase network}}"></i> {{username}}
            {{/each}}
          </li>
        </ul>
      </div>
    </div>
    <hr style="margin-top: 0;" />

    <!-- Profile/summary -->
    <!--
    <div class="row">
    <div class="col-xs-2">
    <h4 class="section-title"> Profile </h4>
  </div>
  <div class="col-xs-11">
  {{summary}}
</div>
{{/resume.basics}}
</div>
-->

<!-- Education -->
<div class="row section">
  <div class="col-xs-12">
    {{#each resume.education}}
    <div class="entry">
    {{#if @first}}
<div class="col-xs-11">
  <h4 class="section-title">Education</h4>
</div>
      {{/if}}
      <div class="row education-section">
        <div class="col-xs-11">
          <div class="school"> {{studyType}} in {{area}}, {{institution}}, {{prettifyYearDate endDate}}</div>
        </div>

      </div>
    </div>
    {{/each}}
  </div>
</div>


<!-- Experience -->

<div class="row section">
  <div class="col-xs-11">
    {{#each resume.teaching}}
    <div class="entry">
    {{#if @first}}
<div class="col-xs-12">
  <h4 class="section-title">
  <hr/>
  Teaching</h4>
</div>
      {{/if}}
      <div class="row">
        <div class="col-xs-11">
          <div class="company"> {{company}}, <em>{{position}}</em></div>
          {{prettifyMonthDate startDate}} – {{prettifyMonthDate endDate}}
        </div>

      </div>
      <div class="row company-description">
        <div class="col-xs-11">
          <ul>
            <li class="company-summary">{{summary}}</li>
            {{#each highlights}}
            <li> {{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<!-- Talks -->
<div class="row section">
    {{#each resume.talks}}
    {{#each this.talks}}
    {{#if @first}}

    <div class="row subsection">
      {{/if}}
        <div class="col-xs-11">
      <div class="entry">
      {{#if @../first}}
      {{#if @first}}
  <div class="col-xs-11">
    <h4 class="section-title">
    <hr/>
    Lectures</h4>
  </div>
  {{/if}}
        {{/if}}
      {{#if @first}}
      <div class="row">
    <div class="divider"></div>
</div>
      <div class="col-xs-7">
      <div class="separator">{{prettifyYearDate date}}</div>
      </div>
      {{/if}}
        <div class="row">
          <div class="col-xs-11">
            <div class="company"> {{location}} </div>
            </div>
          <div class="col-xs-12">
          {{#each (toArray title)}}

            <div class="company-description"><em>{{this}}</em></div>
{{/each}}

          </div>
        </div>
        <div class="row company-description">
          <div class="col-xs-11">
            <ul>
              <li class="company-summary">{{summary}}</li>
              {{#each highlights}}
              <li><i class="fa fa-chevron-circle-right"></i> {{this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/each}}
</div>


<div class="row section">
  <div class="col-xs-11">
    {{#each resume.work}}
    <div class="entry">
    {{#if @first}}
<div class="col-xs-12">
  <h4 class="section-title">
  <hr/>
  Relevant Work</h4>
</div>
      {{/if}}
      <div class="row">
        <div class="col-xs-11">
          <div class="company"> {{company}}, <em>{{position}}</em></div>
          {{prettifyMonthDate startDate}} – {{prettifyMonthDate endDate}}
        </div>

      </div>
      <div class="row company-description">
        <div class="col-xs-11">
          <ul>
            <li class="company-summary">{{summary}}</li>
            {{#each highlights}}
            <li> {{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<!-- Coding -->
<div class="row section">
  <div class="col-xs-11">
    <div class="entry">
<div class="col-xs-11">
  <h4 class="section-title">
  <hr/>
  Coding Skills</h4>
</div>
  <div class="row">
<div class="col-xs-11">
<div class="company">
    {{#each resume.skills}}
    Expertise in:
    {{#each keywords}}
    {{#if @last}}
    {{this}}
    {{else}}
    {{this}},
    {{/if}}
    {{/each}}
    <br />
    {{/each}}
    </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Languages -->
<div class="row section">
  <div class="col-xs-11">
    <div class="entry">
<div class="col-xs-11">
  <h4 class="section-title">
  <hr/>
  Language Skills</h4>
</div>
  <div class="row">
<div class="col-xs-11">
    {{#each resume.languages}}
    {{#if @last}}
    {{language}} - {{fluency}}
    {{else}}
    {{language}} - {{fluency}},
    {{/if}}
    {{/each}}
      </div>
      </div>
    </div>
  </div>
</div>


<!-- Publications -->
<div class="row section">
  <div class="col-xs-11">
    {{#each resume.publications}}
    <div class="entry">
    {{#if @first}}
<div class="col-xs-11">
  <h4 class="section-title">
  <hr/>
  Publications</h4>
</div>
      {{/if}}
      <div class="row">
        <div class="col-xs-12">
          <div class="company"> {{{entryTags.title}}} </div>
          <div class="company">
          <div class="bib">
          {{#if entryTags.author}}{{entryTags.author}}{{/if}}
          {{#if entryTags.editor}}{{entryTags.editor}}, editors.{{/if}}
            {{#if entryTags.booktitle}}<em>{{entryTags.booktitle}}.</em>{{/if}}
            {{#if entryTags.journal}}<em>{{entryTags.journal}}</em>,{{/if}}
            {{#if entryTags.volume}}vol. {{entryTags.volume}}{{#if entryTags.number}}, no. {{entryTags.number}}{{/if}},{{/if}}
            {{#if entryTags.publisher}}{{entryTags.publisher}},{{/if}} {{entryTags.year}}.</div>
          </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>


<!-- Releases -->

<div class="row section">

  <div class="row subsection">
    <div class="col-xs-11">
      {{#each resume.solo_releases}}
      <div class="entry">
      {{#if @first}}
  <div class="col-xs-11">
    <h4 class="section-title">
    <hr/>
    Recordings</h4>
  </div>
  <div class="col-xs-11">
    <div class="section-subtitle"><em>Solo Albums</em></div>
  </div>
        {{/if}}
        <div class="row">
          <div class="col-xs-12">
            <div class="company"> {{title}}. {{publisher}}. {{media_type}}. {{date}}. </div>
          </div>
        </div>
        <div class="row company-description">
          <div class="col-xs-11">
            <ul>
              {{#if website}}
              <li><a href="{{website}}">{{website}}</a></li>
              {{/if}}
              <li class="company-summary">{{summary}}</li>
              {{#each highlights}}
              <li><i class="fa fa-chevron-circle-right"></i> {{this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="row subsection">
    <div class="col-xs-11">
      {{#each resume.compilation_releases}}
      {{#if @first}}
  <div class="col-xs-11">
    <div class="section-subtitle"><em>Compilation Albums</em></div>
  </div>
        {{/if}}
      <div class="entry">
        <div class="row">
          <div class="col-xs-11">
            <div class="company"> {{title}}. {{publisher}}. {{media_type}}. {{date}}. </div>
            <div class="company">featuring <em>{{work}} </em></div>
          </div>
        </div>
        <div class="row company-description">
          <div class="col-xs-11">
            <ul>
              {{#if website}}
              <li><a href="{{website}}">{{website}}</a></li>
              {{/if}}
              <li class="company-summary">{{summary}}</li>
              {{#each highlights}}
              <li><i class="fa fa-chevron-circle-right"></i> {{this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</div>


<!-- Residencies -->
<div class="row section">
  <div class="col-xs-11">
    {{#each resume.residencies}}
    <div class="entry">
    {{#if @first}}
<div class="col-xs-11">
  <h4 class="section-title">
  <hr/>
  Residencies and Awards</h4>
</div>
      {{/if}}
      <div class="row">
        <div class="col-xs-11">
          <div class="company"> {{org}}, {{ date }} </div>
        </div>
      </div>
      <div class="row company-description">
        <div class="col-xs-11">
          <ul>
            {{#if website}}
            <li><a href="{{website}}">{{website}}</a></li>
            {{/if}}
            <li class="company-summary">{{summary}}</li>
            {{#each highlights}}
            <li><i class="fa fa-chevron-circle-right"></i> {{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>


<!-- References -->

<div class="row section">
  <div class="col-xs-11">
    {{#each resume.references}}
    <div class="entry">
    {{#if @first}}
<div class="col-xs-11">
  <h4 class="section-title">
  <hr/>
  References</h4>
</div>
      {{/if}}
      <div class="row">
        <div class="col-xs-11">
          <div class="company"> {{name}} </div>
          <div class="company-description">{{position}}</div>
          <div class="company-description">{{email}}</div>
        </div>
      </div>
      <div class="row company-description">
        <div class="col-xs-11">
          <ul>
            {{#if website}}
            <li><a href="{{website}}">{{website}}</a></li>
            {{/if}}
            <li class="company-summary">{{summary}}</li>
            {{#each highlights}}
            <li><i class="fa fa-chevron-circle-right"></i> {{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

</div>
</body>
</html>
