extends layout
block content


    div.header

        div#nav.header-section
            h1 michael winter
            h2 
                ul.inline-list
                    li
                        a#worksbutton(class='scroll-to-div', href='#works', data-target='works') works
                    li
                        a#eventsbutton(class='scroll-to-div', href='#events', data-target='events') events
                    li
                        a#aboutbutton(class='scroll-to-div', href='#about', data-target='about') about
            
        div#gallery.header-section
            div.header-inner
                div#galleryPlayer.avgallery
                div#gallerySelector
                
            
        div#upcoming.header-section
            div.header-inner-right
                //h4.center-header upcoming
                ul#upcominglist

        
    div.content
    
        div.contentpad
            hr
        
        div#works.css-table
        
            div.col3
                div#pieces
                    div
                        h3 pieces
                    div.scrollable-content
                        ul#piecesworkslist
                        ul#piecesmiscworkslist
                        button.btn_more show misc
                        button.btn_less hide misc
                    
            div.vline
                div.vline-inner
                
            div.col3
                div#writings
                    div
                        h3 writings
                    div
                        ul#writingsworkslist
                    
            div.vline
                div.vline-inner
                
            div.col3
                div#releases
                    div
                        h3 releases
                    div
                        ul#releaseslist
                    
                
                
        div.contentpad
            hr
            
            
        div#events(class='css-table')

            div.col2
                div#performances
                    div
                        h3 performances #[select#yearpicker] 
                        //#[select#eventtypepicker]
                    div
                        ul#performanceeventslist
                        //button(class="btn_more") show more
                        //button(class="btn_less") show less
                        
            div.vline
                div.vline-inner
                
            div.col2
                div#talks
                    div
                        h3 talks
                    div
                        ul#talkeventslist
                        //button(class="btn_more") show all
                        //button(class="btn_less") show less
                        
            //div.col3
            //    div#residencies
            //        div
            //            h3 residencies
            //        div
            //            ul#residencyeventslist
        
        
        div.contentpad
            hr
        
        
        div#about.css-table
            div.col1
                div#bio
                    h3#abouthead about 
                div#aboutme
                    p My work often explores simple processes where dynamic systems, situations, and settings are defined through minimal graphic- and text-based scores that can be realized in a variety of ways. To me, everything we experience is computable. Given this digital philosophy, I acknowledge even my most open works as algorithmic; and, while not always apparent on the surface of any given piece, the considerations of computability and epistemology are integral to my practice. I often reconcile epistemological limits with artistic practicality by considering and addressing the limits of computation from a musical and experiential vantage point and by collaborating with other artists, mathematicians, and scientists in order to integrate objects, ideas, and texts from various domains as structural elements in my pieces. 
                    p I have performed across the Americas and Europe at venues ranging in size from small basements to large museums to outdoor public spaces (some examples of more well known festivals and venues include REDCAT, Los Angeles; the Ostrava Festival of New Music; Tsonami Arte Sonoro Festival, Valparaiso; the Huddersfield New Music Festival; and Umbral Sesiones at the Museo de Arte Contemporáneo, Oaxaca). In 2008, I co-founded <em>the wulf.</em>, a Los Angeles-based organization dedicated to experimental performance and art. As a laboratory and hub for exploring new ideas, <em>the wulf.</em> has become an experiment in alternative communities and economies. Similarly, my work subverts discriminatory conventions and hierarchies by exploring alternative forms of presentation and interaction.
                    div#mc_embed_signup
                        br
                        form#mc-embedded-subscribe-form.validate(action='//unboundedpress.us12.list-manage.com/subscribe/post?u=bdadd25738fedf704641f3a80&amp;id=01c5761ebb', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                            label(for='mce-EMAIL') subscribe to my mailing list to know about upcoming events
                            input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='')
                            div(style='position: absolute; left: -5000px;', aria-hidden='true')
                                input(type='text', name='b_bdadd25738fedf704641f3a80_01c5761ebb', tabindex='-1', value='')
                            div.clear
                                input#mc-embedded-subscribe.button(type='submit', value='subscribe', name='subscribe')
                div#my_image

        div(class='contentpad')
           
            //div#education(class='col')
            //    h3 education
            //div#jobs(class='col')
            //    h3 jobs/skills
                 
        
        div#dialog
        

        

        
