/* Resume styles */

body {
    font-size: 12px;
    width: 175mm;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
}

hr {
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #000;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

h1 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

.name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
}

.title {
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 200;
    font-size: 18px;
}

.contact-info ul {
    list-style-type: none;
}

.section-title {
    font-size: 14px;
    margin-left: -45px;
    margin-top: 0px;
}

.section-subtitle {
    font-size: 14px;
    margin-left: -30px;
}

.skill {
    font-weight: bold;
}

.skills-ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}

.skills-ul li {
    float: left;
    margin-right: 8px;
}

.company, .school {
    font-size: 14px;
}

.section {
    margin-left: 15px;
    margin-bottom: 0px;
}

.entry {
    margin-left: 10px;
}

.subsection {
    margin-left: 1px;
}

.company-position {
  padding-left: 30px
}

.company-summary {
  font-size: 13px;
  margin-bottom: -5px;
    margin-bottom: 0px;
}

.company-description {
    font-size: 13px;
    margin-bottom: -3px;
    padding-left: 30px;
    text-indent: -15px;
}

.bib {
    padding-left: 15px;
    margin-bottom: 10px;
}

.company-description ul {
    padding-left: 0px;
    list-style-type: none;
}

.education-section {
    margin-bottom: 5px;
}

.work-info {
    margin-left: -30px;
}

.venue-info {
    margin-left: 15px;
}

.education-gpa {
    padding-left: 2px;
}

.education-gpa-text {
    padding-left: 4px;
}

.pagebreak { page-break-before: always; }

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: -5px;
  color: solid #000 !important;
-webkit-print-color-adjust: exact;//:For Chrome
color-adjust: exact;//:For Firefox
}

.separator::before {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

@media print {
  @page {
    margin: 15mm;
  }

    body {
        margin-top: 0px;
        margin-left:auto;
        margin-right:auto;
    }

  .entry { page-break-inside: avoid;}
  .h4 { page-break-after: avoid;}
  .section { page-break-before: avoid;}
  .section-subtitle { page-break-after: avoid;}

}

@page {
    counter-increment: page;
    counter-reset: page 1;
    @bottom-middle {
        content: counter(page);
    }
}
